<div class="video-wrapper">

  {{#link-to 'road' id="linkFromFieldToRoad"}}
  {{/link-to}}

<video class="video-width" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
  <source src="/assets/videos/00029.webm" type="video/webm">
      Your browser does not support HTML5 video. Please consider upgrading.
</video>

</div>
